.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 100px;
    width: 100%;
    
    position: fixed;
    padding: 0 150px;
}

.menuTitle, .menu {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.menuItem {
    margin-right: 20px;
}

.menuTitle, .menuItem {
    color: white;
}

.menuItem:hover {
    color: #E57E71;
    font-weight: bold;
}
