.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 70px;
    width: 100vw;
    
    position: fixed;
    padding: 0 150px;
}

.menuTitle, .menu {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.menuItem {
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitle a {
    font-size: 1.4rem;
}

.menuTitle, .menuItem {
    color: white;
}

.menuItem:hover {
    color: #E57E71;
    font-weight: bold;
}
