.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 70px;
    width: 100vw;
    
    position: fixed;
    padding: 0 150px;
}

.menuTitle, .menu {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.menuItem {
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitle a {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitle, .menuItem {
    color: white;
}

.menuItem:hover {
    color: #E57E71;
    font-weight: bold;
}

@media (max-width: 700px) {
    .menuTitle a {
        font-size: 1rem;
    }
    .menuContainer {
        padding: 0 20px;
    }
}

@media (max-width: 600px) {
    .menuContainer {
        justify-content: space-around;
    }
    .menuTitle a, .menuItem a {
        font-size: 0.8rem;
    }

    .menuTitle {
        display: flex;
    }

    .menuContainer {
        padding: 0;
    }
}
